body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}

.bg-gray-50 {
  background-color: #f9fafb;
}

.bg-green-600 {
  background-color: #16a34a;
}

.text-gray-900 {
  color: #111827;
}

.text-gray-500 {
  color: #6b7280;
}
